/*--- Default styles ----*/

p {
    padding: 0;
    margin: 0;
}



/*--- Variables ---*/

:root{
    --secondary-bg-color: rgb(39, 39, 39);
}




body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100%;
    width: 480px;
}

.app {
    padding: 0 0.8rem;
    max-width: 480px;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    width: 100%;
    display: flex;
}

/* --- Chatbot --- */

.chatbot__toggle svg {
    width: 2rem;
    height: auto;
}

.chatbot__window {
    visibility: hidden;

}

/* --- Header --- */

.navigation {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    position: relative;
}

.navigation__back {
        all: unset;
        box-sizing: border-box;
        cursor: pointer;
        width: 2.5rem;
}

.navigation__back > svg{
    color: white;
    width: 1.9rem;
    height: auto;
}


.navigation__location {
    color: white;
    font-size: 1.5rem;
    justify-self: center;
}

.navigation__search-form {
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    padding: 0.3rem 1rem;
    padding-right: 0.5rem;
    justify-self: end;
    display: flex;
    align-items: center;
}

.navigation__search-form.is-open{
    box-sizing: border-box;
    background-color: white;
}

.navigation__search-form.is-open input{
    width: min(300px, 60vw);
}

.navigation__search-form input {
    all: unset;
    box-sizing: border-box;
    transition: width 0.3s ease-in-out;
    width: 0;
    padding: 0;
    border: 0;
}

.navigation__search-form button {
    all:unset;
    box-sizing: border-box;
    cursor: pointer;
}

.navigation__search-form svg {
    color: white;
    width: 1.5rem;
    height: auto;
}

.navigation__search-form.is-open svg {
    transition: color 0.3s ease-in-out;
    color: black;
}


/*--- Search View ---*/

#search-view {
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-view__icon {
    color: white;
    height: 4.2rem;
    width: auto;
    margin: 1rem;
}

.search-view__bar {
    box-sizing: border-box;
    margin: 1rem;
    width: 80%;
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 0.4rem 1.2rem;

    display: flex;
    align-items: center;
}

.search-view__form {
    all: unset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-view__input {
    all: unset;
    width: 100%;
    box-sizing: border-box;
    color: black;
}

.search-view__submit-button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
}

.search-view__submit-icon {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background-color: none;
}


/*--- Forecast view ---*/

.forecast-view__weather-cards {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    width: 100%;
}

.forecast-view__weather-card {
    box-sizing: border-box;
    color: white;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    gap: 1.7rem;
    min-height: 8rem;
    max-height: 12rem;
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    flex-shrink: 1;
    cursor: pointer;
}

.weather-card__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    min-width: fit-content
}

.weather-card__day {
    margin: 0;
}

.weather-card__temperature {
    margin: 0;
    font-size: 2.5rem;
    font-weight:600;
}

.weather-card__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
}

.weather-card__icon {
    fill: white;
    height: 4rem;
    width: auto;
    margin: 0;
}

.weather-card__text {
    padding: 0;
    margin: 0;
}



/*--- Weather details view ---*/

#weather-details-view {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
}

.weather-details-view__overview {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
}

.weather-details-view__information {
    flex:1;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:max-content;
}

.weather-details-view__day {
    grid-row: 1 / 1;
    grid-column: 1 / 1;

    font-size: 1.3rem;
    font-weight: 400;
}

.weather-details-view__temperature {
    grid-row: 2 / 2;
    grid-column: 1 / 1;

    font-size: 1.9rem;
    font-weight: 500;
}

.weather-details-view__description {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    justify-self: end;
    font-size: 1.1rem;
}

.weather-details-view__conditions-icon {
    fill: white;
    height: 13rem;
    width: auto;
    padding: 2.5rem 2rem;
}   



/* details section */
.weather-details-view__details-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2rem;
}

.weather-details-view__detail-box{
    padding: 1rem;
    background-color: var(--secondary-bg-color);
    color: white;
    fill: white;
    display: flex;
    border-radius: 10px;
    align-items: center;
    gap: 0.5rem;

}

.weather-details-view__detail-icon {
    width: 2rem;
    height:auto;
}


/* hourly forecast section */


.weather-details-view__hourly {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
}

.weather-details-view__hour-item {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:  0.2rem;
    justify-content: space-between;
    background-color: var(--secondary-bg-color);
    padding: 1.2rem 0.2rem;
    border-radius: 25px;
    font-size: 0.9rem;
    color: white;
}

.weather-details-view__hour-item--current {
    background-color: white;
    color: var(--secondary-bg-color)
}

.weather-details-view__hour-item--current svg {
    fill: var(--secondary-bg-color)
}

.weather-details-view__hour-icon {
    fill: white;
    color: white;
    height: auto;
    width: 80%;
}