body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100%;
    width: 480px;
}

.app {
    max-width: 480px;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    width: 100%;
    display: flex;
}




/*--- Search View ---*/

#search-view {
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-view__icon {
    color: white;
    height: 4.2rem;
    width: auto;
    margin: 1rem;
}

.search-view__bar {
    box-sizing: border-box;
    margin: 1rem;
    width: 80%;
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 0.4rem 1.2rem;

    display: flex;
    align-items: center;
}

.search-view__form {
    all: unset;
    width: 100%;
        display: flex;
            align-items: center;
            justify-content: space-between;
    

}

.search-view__input {
    all: unset;
        box-sizing: border-box;
    color: black;
}

.search-view__submit-button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
}

.search-view__submit-icon {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background-color: none;
}


/*--- Forecast view ---*/

.forecast-view__weather-cards {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.forecast-view__weather-card {
    box-sizing: border-box;
    color: white;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    gap: 1.7rem;
    min-height: 8rem;
    max-height: 12rem;
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    flex-shrink: 1;
    cursor: pointer;
}

.weather-card__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    min-width: fit-content
}

.weather-card__day {
    margin: 0;
}

.weather-card__temperature {
    margin: 0;
    font-size: 2.5rem;
    font-weight:600;
}

.weather-card__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
}

.weather-card__icon {
    fill: white;
    height: 4rem;
    width: auto;
    margin: 0;
}

.weather-card__text {
    padding: 0;
    margin: 0;
}